.slider-section {
  padding-top: 50px;
}

.plant-slider-buttons {
  position: relative;
}

.plant-slider-prev {
  left: 0;
  position: absolute;
  top: 0;
}

.plant-slider-next {
  position: absolute;
  right: 0;
  top: 0;
}

.plant-slider-pagination {
  margin-top: 24px;
  text-align: center;

  .swiper-pagination-bullet {
    background-color: $green-black;
    height: 12px;
    opacity: 1;
    transition: transform 0.2s;
    width: 12px;

    &.swiper-pagination-bullet-active {
      transform: scale(1.833333);
    }
  }
    
  .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-left: 20px;
  }
}

.plant-slider-btn {
  cursor: pointer;
  transition: transform 0.2s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.plant-slider-container {
  img {
    width: 100%;
  }
}

@media (max-width : $mobile-break-point) {
  .slider-section {
    padding-top: 25px;
  }
}
