.contact-us-section {
  padding-top: 50px;
}

.contact-us-row {
  align-items: center;
  background-color: $green-light;
  display: flex;
  justify-content: center;
  padding: 170px 0;
}

.contact-us-title {
  padding: 0 17px;
    
  h2 {
    color: $green-black;
  }
}

.contact-us-link {
  padding: 0 17px;
}

@media (max-width : $tablet-break-point) {
  .contact-us-row {
    padding: 100px 0;
  }
}

@media (max-width : $mobile-break-point) {
  .contact-us-section {
    padding-top: 25px;
  }

  .contact-us-row {
    display: block;
    padding: 65px 0;
    text-align: center;
  }

  .contact-us-link {
    margin-top: 20px;
  }
}
