<section class="contact-us-section">
    <div class="container">
        <div class="contact-us-row">
            <div class="contact-us-title">
                <h2>{{ content|e('wp_kses_post') }}</h2>
            </div>
            <div class="contact-us-link">
                <a class="btn btn-default" href="{{ link_url }}">{{ link_title }}</a>
            </div>
        </div>
    </div>
</section>