.block-text-image-section {
  padding-top: 50px;
}

.block-text-image-row {
  display: flex;
  margin: 0 -25px;

  .content-col {
    padding: 0 25px;
    width: 50%;
  }

  .content-col-inner {
    background-color: $gray;
    padding: 243px 103px 238px;

    h2 {
      color: $green-black;
    }

    p {
      color: $green-heavy;
      margin-top: 28px;
    }

    .link-row {
      margin-top: 44px;
    }
  }
  
  .image-col {
    padding: 0 25px;
    width: 50%;

    img {
      display: none;
      width: 100%;
    }
  }

  .image-col-inner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

@media (max-width : $tablet-break-point) {
  .block-text-image-row {
    .content-col-inner {
      padding: 100px 50px;
    }
  }
}

@media (max-width : $mobile-break-point) {
  .block-text-image-section {
    padding-top: 25px;

    .container {
      padding: 0;
    }
  }

  .block-text-image-row {
    display: block;
    margin: 0;

    .content-col {
      padding: 0;
      width: 100%;
    }

    .content-col-inner {
      padding: 65px 25px;

      p {
        margin-top: 16px;
      }

      .link-row {
        margin-top: 20px;
      }
    }

    .image-col {
      margin-top: 25px;
      width: 100%;

      img {
        display: block;
      }
    }

    .image-col-inner {
      background-image: none !important;
    }
  }
}
