.header-row {
  border-bottom: 2px solid $green;
  position: relative;
}

.header-logo {
  left: 0;
  position: absolute;
  top: 50px;
}

.header-nav {
  ul {
    display: flex;
    justify-content: flex-end;
  }

  li+li {
    margin-left: 40px;
  }

  a {
    color: $green-heavy;
    display: inline-block;
    font-size: 16px;
    line-height: 1.9375;
    padding: 61px 0 22px;
    position: relative;

    &::before {
      background-color: $green-heavy;
      content: '';
      height: 6px;
      left: 0;
      position: absolute;
      right: 0;
      top: -10px;
      transition: top 0.2s;
    }

    &:hover {
      &::before {
        top: 0;
      }
    }
  }
}


@media (max-width : $mobile-break-point) {

  .header-logo{
    position: static;
  }

  .header-nav{
    
    ul{
      display: block;
    }

    a{
      padding: 0;

      &::before{
        display: none;
      }
    }

    li+li{
      margin-left: 0;
    }
  }
}