.header-row {
  border-bottom: 2px solid $green;
  position: relative;
}

.header-logo {
  left: 0;
  position: absolute;
  top: 50px;
}

.header-mobile-btn {
  bottom: 4px;
  cursor: pointer;
  display: none;
  height: 18px;
  position: absolute;
  right: 0;
  width: 25px;

  span {
    background-color: $green-black;
    border-radius: 4px;
    height: 2px;
    position: absolute;
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 25px;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
      transition-duration: 0.15s;
      transition-property: transform,opacity;
      transition-timing-function: ease;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }

  &.is-active {
    span {
      &:nth-child(1) {
        transform: translate3d(0, 7px, 0) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translate3d(0, -9px, 0) rotate(-45deg);
      }
    }
  }
}

.header-nav {
  ul {
    display: flex;
    justify-content: flex-end;
  }

  li+li {
    margin-left: 40px;
  }

  a {
    color: $green-heavy;
    display: inline-block;
    font-size: 16px;
    line-height: 1.9375;
    padding: 61px 0 22px;
    position: relative;

    &::before {
      background-color: $green-heavy;
      content: '';
      height: 6px;
      left: 0;
      position: absolute;
      right: 0;
      top: -10px;
      transition: top 0.2s;
    }

    &:hover {
      &::before {
        top: 0;
      }
    }
  }
}


@media (min-width : $mobile-break-point) {
  .header-nav {
    display: block !important;
  }
}

@media (max-width : $mobile-break-point) {
  .header-row {
    padding: 25px 0;
  }

  .header-mobile-btn {
    display: inline-block;
  }

  .header-logo {
    left: auto;
    position: relative;
    top: auto;
  }

  .header-nav {
    display: none;
    padding-top: 10px;

    ul {
      display: block;
    }

    a {
      padding: 0;

      &::before {
        display: none;
      }
    }

    li {
      margin-top: 10px;
    }

    li+li {
      margin-left: 0;
    }
  }
}
