/**
* 0.0 Root
*
* Top level styles every element should inherit.
*/

@include font-face('Montserrat', 'montserrat-v14-latin-regular', '400', 'normal');
@include font-face('Montserrat', 'montserrat-v14-latin-italic', '400', 'italic');
@include font-face('Montserrat', 'montserrat-v14-latin-700', '700', 'normal');
@include font-face('Montserrat', 'montserrat-v14-latin-700italic', '700', 'italic');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-wrap: break-word;
  word-wrap: break-word;


  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}