.container {
  padding: 0 50px;
  width: 100%;
}

.btn {
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  line-height: 1.55;
  padding: 22px 66px 23px;
}

.btn-dark {
  background-color: $green-black;
  color: $gray;
  transition: background-color 0.2s;

  &:hover {
    background-color: $green;
  }
}

.btn-default {
  border: 2px solid $green;
  color: $green;

  transition: background-color 0.2s;

  &:hover {
    background-color: rgba($green-black, 0.1);
  }
}

.mobile-show {
  display: none;
}

@media (max-width : $tablet-break-point) {
  .btn {
    font-size: 16px;
    padding: 20px 40px;
  }
}

@media (max-width : $mobile-break-point) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .container {
    padding: 0 25px;
  }

  .btn {
    font-size: 14px;
    padding: 15px 20px;
  }
}
