$mobile-break-point: 1000px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$green-black: #3c4329;
$green-heavy: #717171;
$green: #6d745a;
$green-light: #e0ebdf;

$gray: #fafafa;
$white: #fff;
