footer {
  padding: 50px 0;
}

.footer-inner {
  background-color: $green-black;
  padding: 146px 0;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.footer-nav {
  margin-left: 45px;

  ul {
    display: flex;
    padding-top: 14px;
  }

  li+li {
    margin-left: 40px;
  }

  a {
    color: $gray;
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer-social-row {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.footer-social-item + .footer-social-item {
  margin-left: 20px;
}
